.root {
    -fx-background-color: #FFFFFF;
    -cms-ui-bg: #FFFFFF;
    -cms-theme-color: #FFA500;
    -cms-theme-grey: #CBCBCB;
    -cms-theme-pressed: #DF9000;
    -cms-label-grey: #999999;
    -fx-focus-color: transparent;

    -cms-menu-inactive: #C9C9C9;
    -cmx-menu-active: #333333;
}

@font-face {
    font-family: 'OpenSansEmoji';
    src: url('../fonts/OpenSansEmoji.ttf');
}

.body {
    -fx-background-color: -cms-ui-bg;
}

.text-field, .basic-input {
    -fx-text-box-border: none;
    -fx-background-color: #F3F3F3;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-font-family: OpenSansEmoji;
}

.button {
    -fx-text-box-border: none;
    -fx-background-color: -cms-theme-color;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-text-fill: #FFFFFF;
}
.button:hover {
    -fx-cursor: hand;
    -fx-opacity: 0.8;
}
.button:pressed {
    -fx-background-color: -cms-theme-pressed;
}

.h2.grey-label {
    -fx-text-fill: -cms-label-grey;
}

.grey-label {
    -fx-text-fill: -cms-label-grey;
}

.tab-pane {
    -fx-background-color: -cms-ui-bg;
}
.tab {
    -fx-background-color: -cms-ui-bg;
}

.tab-pane *.tab-header-background {
    -fx-background-color: -cms-ui-bg;
    -fx-effect: none;

    -fx-border-style: none none solid none;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: -cms-theme-grey;
}

.tab-pane .tab:selected
{
    -fx-background-color: -cms-ui-bg;
    -fx-border-style: none none solid none;
    -fx-border-width: 0px 0px 3px 0px;
    -fx-border-color: -cms-theme-color;
}

.tab:hover {
    -fx-cursor: hand;
}

.emojify {
    -fx-font-family: 'Segoe UI Emoji', Arial, sans-serif;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.button.black-button {
    -fx-text-box-border: none;
    -fx-background-color: #333333;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-text-fill: #FFFFFF;
}
.button.black-button:hover {
    -fx-cursor: hand;
    -fx-opacity: 0.8;
}
.button.black-button:pressed {
    -fx-background-color: #222222;
}

.button.transparent-button {
    -fx-text-box-border: none;
    -fx-background-color: #F3F3F3;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-text-fill: #333333;
}
.button.transparent-button:hover {
    -fx-cursor: hand;
    -fx-opacity: 0.8;
}
.button.transparent-button:pressed {
    -fx-background-color: #CBCBCB;
}

.text-area {
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.text-area .content {
    -fx-text-box-border: none;
    -fx-background-color: #F3F3F3;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-font-family: OpenSansEmoji;
}